<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Layout</title>
</head>

<body>


    <div class="containar">
        <h4>Example</h4>
        <!-- Start header section  -->
        <div class="header-ditail">

            <header class="header">
                <h1>cities</h1>
            </header>
            <!-- End header section  -->
            <!-- Start city section  -->
            <section class="section clearfix">
                <div class="city">
                    <ul>
                        <li><a href="#">london</a></li>
                        <li><a href="#">Bangladesh</a></li>
                        <li><a href="#">india</a></li>
                    </ul>
                </div>
                <!-- End city section  -->
                <!-- Start city details section  -->
                <div class="city-detail">
                    <h2>bangladesh</h2>
                    <p class="pra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam odit, nesciunt
                        molestias perferendis maxime eligendi sapiente esse provident placeat, enim praesentium aliquid
                        architecto sunt voluptate asperiores. Explicabo, minima saepe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam odit, nesciunt molestias
                        perferendis maxime eligendi sapiente esse provident placeat, enim praesentium aliquid architecto
                        sunt voluptate asperiores. Explicabo, minima saepe.</p>
                </div>
            </section>
            <!-- End city details section  -->
            <!-- Start Footer section  -->
            <section class="footer">
                <footer>
                    <p>copyright &copy by rakib</p>
                </footer>
            </section>
            <!-- End fotter section  -->
        </div>
        <!-- Start button section  -->
        <div class="button">
            <a type="button" href="#">try it yourself &rArr;</a>
        </div>
        <!-- End button section  -->
    </div>

</body>

</html>